services:
  database:
    image: postgres:18
    environment:
      POSTGRES_USER: skeleton
      POSTGRES_PASSWORD: skeleton
      POSTGRES_DB: skeleton
    ports:
      - "5432:5432"
    volumes:
      - database:/var/lib/postgresql/data

volumes:
  database:
