name: Quality

on:
  workflow_call:

jobs:
  format:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Biome
        uses: biomejs/setup-biome@v2
      - name: Run Biome
        run: biome ci
