name: Test

on:
  workflow_call:

env:
  DB_DATABASE: test
  DB_USERNAME: test
  DB_PASSWORD: test

jobs:
  test:
    name: Test Backend
    runs-on: ubuntu-latest
    services:
      database:
        image: postgres:18
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: ${{ env.DB_DATABASE }}
          POSTGRES_USER: ${{ env.DB_USERNAME }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2
      - name: Setup app
        run: |
          cp .env.example .env
          php artisan key:generate
          php artisan migrate:fresh --seed
      - name: Run tests
        run: php artisan test
